#### {project_name}

{project_description}

**12-Month Statistics:**

- Total commits: **{commits}**
- Total contributors: **{contributors}**
- Contributing organizations: **{orgs}**

{trend_chart}

**Repositories:**

{repositories}

---

